# - created by protoc
navmon.pb.cc
navmon.pb.h
# - created by Makefile
navcat  
navdisplay
navdump 
navnexus
navrecv 
testrunner
tlecatch
ubxtool
# - created by update-tles
active.txt
beidou.txt
galileo.txt
glo-ops.txt
gps-ops.txt
# - git version internals
githash.h
#
*.csv
# Prerequisites
*.d
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# local manpage generation staging output
.mancheck/

# Debian package build outputs (generated)
debian/galmon/
debian/.debhelper/
debian/tmp/
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/debhelper-build-stamp
*.deb
*.buildinfo
*.changes
